section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slidefromleft {
  width: 300px;
  height: 300px;
  background-color: rgb(250, 30, 30);
/*long hand */
  animation-name: slidefromleft;
  animation-duration: 4s;
  animation-timing-function: ease-in; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;

  animation: slidefromleft 4s ease-in 1 forwards
}

.slidefromright {
  width: 300px;
  height: 300px;
  background-color: green;

  animation: slidefromright 4s ease-in  1  forwards;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.colorSwitch {
  background-color: violet;
  
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.colorSwitch:hover, .colorSwitch:active {
  background-color: blue;
}

.makeBigger {
  scale: 1;
  transition: 2s ease-in;
}
.makeBigger:hover, .makeBigger:active {
  scale: 1.2;
}

.changeOpacity {
  scale: 1;
  transition: 2s ease-out;
}

.changeOpacity:hover, .changeOpacity:active {
  opacity: 0.5;
}

@keyframes slidefromleft {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform:translateX(0);
  }
}

@keyframes slidefromright {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}


